<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.karani.daily</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>cd __WORKDIR__ &amp;&amp; __KARANI__ notify --kind digest >> __LOGS__/daily-$(date +%Y%m%d).log 2>&amp;1 ; cd __WORKDIR__ &amp;&amp; __KARANI__ notify --kind actions >> __LOGS__/daily-$(date +%Y%m%d).log 2>&amp;1</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__WORKDIR__</string>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>6</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>13</integer><key>Minute</key><integer>0</integer></dict>
  </array>
</dict>
</plist>
